.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #5c374a89;
    color: white;
  }
  
  .new-person {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .new-person form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .new-person div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .new-person label {
    margin-right: 0.9375rem;
  }
  
  .new-person input {
    margin-top: 0.3125rem;
  }
  
  .buttons {
    text-align: center;
  }
  
  .buttons button {
    text-align: center;
  }
  
  .buttons button[type='button']:hover:not(:disabled) {
    background-color: rgb(169, 87, 93);
    color: white;
  }
  
  .label {
    font-weight: bold;
  }
  
  .table-header {
    padding-right: 1cm;
  }
  
  table {
    margin-top: 1rem;
    border-collapse: collapse;
  }
  
  table td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 0.0625rem solid white;
  }
  
  